.Navbar{
    background-color: rgb(25, 143, 183);
    padding: 30px;
    text-align: center;

}
.Navbar ul{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}
.Navbar ul li{
 list-style: none;
 font-size: 20px;

}
.Navbar ul li a{
   text-decoration: none;
   color: white;
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 2px;
   }
   .Navbar ul li .Pull{
  background-color: white;
  padding:0 5px;
  border-radius:90%;
    color: rgb(208, 25, 25);
    }
 