
.containerS{
    width: 70%;
    height: 400PX;
    margin: 100px auto;
   
    display: flex;
    justify-content: center;
    align-items: center;
   

    
}
.container{
 width: 70%;
 
 margin: 2em auto;

 display: flex;
 justify-content: space-between;
 align-items: center;

 gap: 10px;
 border: 1px solid black;
 padding: 30px;
 border-radius: 5px;
}

.col1{
    width: 100%;
    font-size: 30px;
    flex: 1;
    display: flex;
    justify-content:center;
    gap: 10px;
    align-items: center;
}
.col1 img{
    width: 100%;
    max-width: 300px;
}
.col1 svg{
font-size: 1.5rem;
}

.col1 svg:hover{
    color: rgb(13, 106, 212);
    cursor: pointer;
    }
.col2{

    flex: 1;
    padding: 20px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    align-items:start ;
}

.col2 h1{

  font-size: 3rem;
}
.col1 p{
    font-size: 2rem;
}
.col1 span{
    font-size: 2rem;
    color: rgb(149, 34, 34);
}

 .add{
    width: 140px;
    padding: 7px;
    background-color: rgb(25, 143, 183);
    color: white;
    border-radius: 4px;
}
.del{
    width: 140px;
    padding: 7px;
    background-color: rgb(0, 0, 0);
    color: white;
    border-radius: 4px;
}

@media screen and (max-width:900px ) {
    .container{
        flex-direction: column;
    }
    .col1 img{
        width: 80%;
      
    }
    .col1 svg{
    font-size: 2rem;
        }
        .col2 h1{

            font-size: 2rem;
          }
          .col1 p{
              font-size: 1rem;
          }
          .col1 span{
              font-size: .5rem;
              color: rgb(66, 66, 66);
          }
          
 }


